.weather-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.weather-btn {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
